#main-container.finish {
  h1 {
    margin-bottom: 15px;
  }

  div {
    line-height: 1.5em;
  }

  p {
    margin-bottom: 1.5em;
    line-height: 1.5em;
  }

  textarea {
    margin-bottom: 10px;
    padding: 10px;
  }
  input[type='submit'] {
    margin-top: 10px;
  }

  height:500px !important;
  padding: 50px;
}

#main-container.thanks {
  h1 {
    margin-bottom: 15px;
  }

  div {
    font-size: 16px;
    line-height: 1.5em;
  }

  p {
    font-size: 16px;
    margin-bottom: 1.5em;
    line-height: 1.5em;

  }

  img {

    width: 600px;
    height: 400px;
    @include box-shadow(#888 5px 5px 10px);
    border: 1px solid #888;
  }

  padding: 50px;
}
