/* line 17, ../../../../../../../../usr/local/Cellar/jruby/1.7.3/libexec/lib/ruby/gems/shared/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font: inherit; font-size: 100%; vertical-align: baseline; }

/* line 22, ../../../../../../../../usr/local/Cellar/jruby/1.7.3/libexec/lib/ruby/gems/shared/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html { line-height: 1; }

/* line 24, ../../../../../../../../usr/local/Cellar/jruby/1.7.3/libexec/lib/ruby/gems/shared/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul { list-style: none; }

/* line 26, ../../../../../../../../usr/local/Cellar/jruby/1.7.3/libexec/lib/ruby/gems/shared/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table { border-collapse: collapse; border-spacing: 0; }

/* line 28, ../../../../../../../../usr/local/Cellar/jruby/1.7.3/libexec/lib/ruby/gems/shared/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td { text-align: left; font-weight: normal; vertical-align: middle; }

/* line 30, ../../../../../../../../usr/local/Cellar/jruby/1.7.3/libexec/lib/ruby/gems/shared/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote { quotes: none; }
/* line 103, ../../../../../../../../usr/local/Cellar/jruby/1.7.3/libexec/lib/ruby/gems/shared/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after { content: ""; content: none; }

/* line 32, ../../../../../../../../usr/local/Cellar/jruby/1.7.3/libexec/lib/ruby/gems/shared/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img { border: none; }

/* line 116, ../../../../../../../../usr/local/Cellar/jruby/1.7.3/libexec/lib/ruby/gems/shared/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary { display: block; }

/* line 2, ../../src/stylesheets/_shared.scss */
.rounded-corners { -webkit-border-radius: 20px; -moz-border-radius: 20px; -ms-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; margin: 5px; }

/* line 7, ../../src/stylesheets/_shared.scss */
#main-container { font-family: Arial, Helvetica, sans-serif; margin: 20px auto auto auto; width: 750px; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d6ebeb), color-stop(40%, #ade7ef), color-stop(50%, rgba(148, 237, 239, 0.98)), color-stop(100%, #a2dcef)); background-image: -webkit-linear-gradient(#d6ebeb, #ade7ef 40%, rgba(148, 237, 239, 0.98) 50%, #a2dcef); background-image: -moz-linear-gradient(#d6ebeb, #ade7ef 40%, rgba(148, 237, 239, 0.98) 50%, #a2dcef); background-image: -o-linear-gradient(#d6ebeb, #ade7ef 40%, rgba(148, 237, 239, 0.98) 50%, #a2dcef); background-image: linear-gradient(#d6ebeb, #ade7ef 40%, rgba(148, 237, 239, 0.98) 50%, #a2dcef); -webkit-box-shadow: #dddddd 5px 5px 20px; -moz-box-shadow: #dddddd 5px 5px 20px; box-shadow: #dddddd 5px 5px 20px; padding: 15px; border: 1px solid #444; }

/* line 23, ../../src/stylesheets/_shared.scss */
h1 { font-size: 24px; font-weight: bold; margin-bottom: 10px; }

/* line 29, ../../src/stylesheets/_shared.scss */
.myButton { -moz-box-shadow: inset 0px 1px 0px 0px #ffffff; -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff; box-shadow: inset 0px 1px 0px 0px #ffffff; background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(5%, #ededed), color-stop(100%, #dfdfdf)); background-image: -webkit-linear-gradient(#ededed 5%, #dfdfdf); background-image: -moz-linear-gradient(#ededed 5%, #dfdfdf); background-image: -o-linear-gradient(#ededed 5%, #dfdfdf); background-image: linear-gradient(#ededed 5%, #dfdfdf); background-color: #ededed; -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px; border: 1px solid #666563; display: inline-block; color: #2b2926; font-family: arial; font-size: 15px; font-weight: bold; padding: 6px 14px; text-decoration: none; text-shadow: 0px 1px 0px #ffffff; cursor: pointer; }

/* line 10, ../../../../../../../../usr/local/Cellar/jruby/1.7.3/libexec/lib/ruby/gems/shared/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
html, body { height: 100%; }

/* line 12, ../../../../../../../../usr/local/Cellar/jruby/1.7.3/libexec/lib/ruby/gems/shared/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#root { clear: both; min-height: 100%; height: auto !important; height: 100%; margin-bottom: -54px; }
/* line 18, ../../../../../../../../usr/local/Cellar/jruby/1.7.3/libexec/lib/ruby/gems/shared/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#root #root_footer { height: 54px; }

/* line 20, ../../../../../../../../usr/local/Cellar/jruby/1.7.3/libexec/lib/ruby/gems/shared/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/layout/_sticky-footer.scss */
#footer { clear: both; position: relative; height: 54px; }

/* line 68, ../../src/stylesheets/_shared.scss */
#footer { text-align: center; }

/* line 70, ../../src/stylesheets/_shared.scss */
.myButton:hover { background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(5%, #dfdfdf), color-stop(100%, #ededed)); background-image: -webkit-linear-gradient(#dfdfdf 5%, #ededed); background-image: -moz-linear-gradient(#dfdfdf 5%, #ededed); background-image: -o-linear-gradient(#dfdfdf 5%, #ededed); background-image: linear-gradient(#dfdfdf 5%, #ededed); background-color: #dfdfdf; }

/* line 77, ../../src/stylesheets/_shared.scss */
.myButton:active { position: relative; top: 1px; }

/* line 82, ../../src/stylesheets/_shared.scss */
.myInput { padding: 5px; width: 266px; height: 30px; font-size: 100%; background-color: whitesmoke; resize: none; border: 2.4px solid #000000; }

/* line 3, ../../src/stylesheets/_consent.scss */
#main-container.consent h1 { margin-left: 20px; }
/* line 7, ../../src/stylesheets/_consent.scss */
#main-container.consent #consent-text { position: relative; height: 500px; overflow: scroll; margin-left: 10px; margin-right: 10px; background-color: #f8ffff; -webkit-border-radius: 10px; -moz-border-radius: 10px; -ms-border-radius: 10px; -o-border-radius: 10px; border-radius: 10px; border: 1px solid #ccc; padding: 0 10px; font-size: 14px; line-height: 16px; }
/* line 21, ../../src/stylesheets/_consent.scss */
#main-container.consent #consent-text h3, #main-container.consent #consent-text h4 { font-weight: bold; margin-top: 12px; margin-bottom: 2px; }
/* line 27, ../../src/stylesheets/_consent.scss */
#main-container.consent #consent-text div.team { font-weight: bold; text-align: center; position: absolute; right: 10px; top: 12em; }
/* line 33, ../../src/stylesheets/_consent.scss */
#main-container.consent #consent-text div.team img { width: 210px; height: 140px; border: 1px solid #888; -webkit-box-shadow: #888888 5px 5px 10px; -moz-box-shadow: #888888 5px 5px 10px; box-shadow: #888888 5px 5px 10px; }
/* line 42, ../../src/stylesheets/_consent.scss */
#main-container.consent #email { -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; }
/* line 47, ../../src/stylesheets/_consent.scss */
#main-container.consent tr.bottom td { padding-top: 20px; text-align: center; }

/* line 4, ../../src/stylesheets/_expertise.scss */
#main-container.expertise { height: 500px !important; padding: 30px; }
/* line 6, ../../src/stylesheets/_expertise.scss */
#main-container.expertise div { line-height: 1.5em; }
/* line 10, ../../src/stylesheets/_expertise.scss */
#main-container.expertise input[name='gender'] { font-size: 14px; padding: 5px; }
/* line 15, ../../src/stylesheets/_expertise.scss */
#main-container.expertise div.question { clear: both; }
/* line 17, ../../src/stylesheets/_expertise.scss */
#main-container.expertise div.question div.prompt { margin-top: 10px; margin-bottom: 30px; width: 360px; float: left; padding-right: 40px; }
/* line 22, ../../src/stylesheets/_expertise.scss */
#main-container.expertise div.question div.response { margin-top: 10px; margin-bottom: 30px; width: 350px; float: left; }
/* line 33, ../../src/stylesheets/_expertise.scss */
#main-container.expertise .error { background: #ff8282; display: none; padding: 30px; font-weight: bold; }
/* line 40, ../../src/stylesheets/_expertise.scss */
#main-container.expertise #errorPrimary { font-family: Arial, Helvetica, sans-serif; padding-top: 35px; color: #FF0000; }
/* line 46, ../../src/stylesheets/_expertise.scss */
#main-container.expertise #errorSecondary { font-family: Arial, Helvetica, sans-serif; padding-top: 35px; color: #FF0000; }

/* line 1, ../../src/stylesheets/_interest.scss */
#main-container.interest { padding: 20px; }
/* line 4, ../../src/stylesheets/_interest.scss */
#main-container.interest strong { font-weight: bold !important; }
/* line 6, ../../src/stylesheets/_interest.scss */
#main-container.interest input { width: 400px; height: 30px; font-size: 100%; background-color: whitesmoke; resize: none; border: 1px solid #aaa; margin: 10px 0; -webkit-border-radius: 5px; -moz-border-radius: 5px; -ms-border-radius: 5px; -o-border-radius: 5px; border-radius: 5px; padding: 5px; }
/* line 18, ../../src/stylesheets/_interest.scss */
#main-container.interest #add-more { margin: 1px 25px 0px 2px; }
/* line 21, ../../src/stylesheets/_interest.scss */
#main-container.interest #instructions { padding: 0 20px; vertical-align: top; height: 100%; line-height: 18px; }
/* line 27, ../../src/stylesheets/_interest.scss */
#main-container.interest .myButton { font-size: 100% !important; padding: 4px 9px !important; }
/* line 33, ../../src/stylesheets/_interest.scss */
#main-container.interest .main-boxes { padding: 5px; }
/* line 37, ../../src/stylesheets/_interest.scss */
#main-container.interest .indent-click { margin: 4px 0px 0px 70px; }
/* line 40, ../../src/stylesheets/_interest.scss */
#main-container.interest #next { margin: 4px 45px 0px 30px; }
/* line 44, ../../src/stylesheets/_interest.scss */
#main-container.interest .error { background: #ff5459; }
/* line 47, ../../src/stylesheets/_interest.scss */
#main-container.interest #error { font-family: Arial, Helvetica, sans-serif; padding-top: 35px; color: #FF0000; }

/* line 3, ../../src/stylesheets/_rating.scss */
#main-container.rating #instructions { margin-bottom: 20px; line-height: 18px; }
/* line 9, ../../src/stylesheets/_rating.scss */
#main-container.rating form #dontknow { margin-left: 215px; font-size: 14px; text-align: center; width: 100px; }
/* line 16, ../../src/stylesheets/_rating.scss */
#main-container.rating form #ratings div.row { border: 1px solid #666; border-bottom: 0; }
/* line 21, ../../src/stylesheets/_rating.scss */
#main-container.rating form #ratings div.row tr.first td { padding: 5px 10px 0 10px; }
/* line 24, ../../src/stylesheets/_rating.scss */
#main-container.rating form #ratings div.row tr.first .interest, #main-container.rating form #ratings div.row tr.first .checkbox { padding-top: 10px; }
/* line 30, ../../src/stylesheets/_rating.scss */
#main-container.rating form #ratings div.row tr.second td { padding: 0 10px 5px 10px; }
/* line 35, ../../src/stylesheets/_rating.scss */
#main-container.rating form #ratings div.row:first-child { -moz-border-radius-topleft: 20px; -webkit-border-top-left-radius: 20px; border-top-left-radius: 20px; -moz-border-radius-topright: 20px; -webkit-border-top-right-radius: 20px; border-top-right-radius: 20px; }
/* line 38, ../../src/stylesheets/_rating.scss */
#main-container.rating form #ratings div.row:last-child { -moz-border-radius-bottomleft: 20px; -webkit-border-bottom-left-radius: 20px; border-bottom-left-radius: 20px; -moz-border-radius-bottomright: 20px; -webkit-border-bottom-right-radius: 20px; border-bottom-right-radius: 20px; border-bottom: 1px solid #666; }
/* line 42, ../../src/stylesheets/_rating.scss */
#main-container.rating form #ratings div.row.even { background: #e3ede8; }
/* line 45, ../../src/stylesheets/_rating.scss */
#main-container.rating form #ratings div.row.odd { background: #ccd6d9; }
/* line 48, ../../src/stylesheets/_rating.scss */
#main-container.rating form #ratings div.row:hover { background: #f2fcff; }
/* line 51, ../../src/stylesheets/_rating.scss */
#main-container.rating form #ratings div.row td.interest { width: 210px; text-align: left; }
/* line 55, ../../src/stylesheets/_rating.scss */
#main-container.rating form #ratings div.row td.checkbox { border-left: 1px solid #666; border-right: 1px solid #666; width: 50px; text-align: center; }
/* line 62, ../../src/stylesheets/_rating.scss */
#main-container.rating form #ratings div.row .rating-bars { border: 1px solid #999; padding: 2px 0; background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #ffffff), color-stop(15%, #ffffff), color-stop(100%, #05ce26)); background-image: -webkit-linear-gradient(left, #ffffff, #ffffff 15%, #05ce26); background-image: -moz-linear-gradient(left, #ffffff, #ffffff 15%, #05ce26); background-image: -o-linear-gradient(left, #ffffff, #ffffff 15%, #05ce26); background-image: linear-gradient(left, #ffffff, #ffffff 15%, #05ce26); }
/* line 65, ../../src/stylesheets/_rating.scss */
#main-container.rating form #ratings div.row .rating-bars td { text-align: center; width: 80px; }
/* line 77, ../../src/stylesheets/_rating.scss */
#main-container.rating form #ratings div.row .no-assoc { float: left; padding-left: 15px; font-size: 12px; padding-bottom: 5px; }
/* line 83, ../../src/stylesheets/_rating.scss */
#main-container.rating form #ratings div.row .str-assoc { float: right; padding-right: 15px; font-size: 12px; padding-bottom: 5px; }
/* line 92, ../../src/stylesheets/_rating.scss */
#main-container.rating form div.continue { padding: 15px; text-align: right; }
/* line 98, ../../src/stylesheets/_rating.scss */
#main-container.rating .error { background: red !important; }

/* line 1, ../../src/stylesheets/_finish.scss */
#main-container.finish { height: 500px !important; padding: 50px; }
/* line 2, ../../src/stylesheets/_finish.scss */
#main-container.finish h1 { margin-bottom: 15px; }
/* line 6, ../../src/stylesheets/_finish.scss */
#main-container.finish div { line-height: 1.5em; }
/* line 10, ../../src/stylesheets/_finish.scss */
#main-container.finish p { margin-bottom: 1.5em; line-height: 1.5em; }
/* line 15, ../../src/stylesheets/_finish.scss */
#main-container.finish textarea { margin-bottom: 10px; padding: 10px; }
/* line 19, ../../src/stylesheets/_finish.scss */
#main-container.finish input[type='submit'] { margin-top: 10px; }

/* line 27, ../../src/stylesheets/_finish.scss */
#main-container.thanks { padding: 50px; }
/* line 28, ../../src/stylesheets/_finish.scss */
#main-container.thanks h1 { margin-bottom: 15px; }
/* line 32, ../../src/stylesheets/_finish.scss */
#main-container.thanks div { font-size: 16px; line-height: 1.5em; }
/* line 37, ../../src/stylesheets/_finish.scss */
#main-container.thanks p { font-size: 16px; margin-bottom: 1.5em; line-height: 1.5em; }
/* line 44, ../../src/stylesheets/_finish.scss */
#main-container.thanks img { width: 600px; height: 400px; -webkit-box-shadow: #888888 5px 5px 10px; -moz-box-shadow: #888888 5px 5px 10px; box-shadow: #888888 5px 5px 10px; border: 1px solid #888; }
